.dinamic-action-decor{
    padding-top: 5px;
    top: 0;
    width: 100%;
    /* border: 2px dotted red; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* либо так, либо добавить паддингов изображениям иконкам*/
    align-items: flex-start;

    position: relative;
}
.dinamic-action-decor__item{
    margin-top: -20px;
    text-align: center;
    /* max-width: 53px; */
    flex-basis: 20%;
    /* top: 0; */
    /* border: 1px dashed blue; */
}
.dinamic-action-decor__item-wrap{
    /* padding: 0 14px; */
    padding: 0 5px;
}
.dinamic-action-decor__item p{
    padding: 0;
    margin: 0;
    white-space:normal;
}
.dinamic-action-decor__rhomb{
    height: 0;
    width: 28%;
    padding-bottom: 28%;
    border: 1px solid #bb9c66;
    position: absolute;
    left: 50%;
    top: 0%;
    transform: translate(-50%, 0%) rotate(45deg);
}
.dinamic-action-decor__rhomb-wrap{
    height: 0;
    width: 28%;
    padding-bottom: 28%;
}
.dinamic-action-decor__rhomb-wrap::before,
.dinamic-action-decor__rhomb-wrap::after{
    content: '';
    position: absolute;
    width: 20%;
    height: 1px;
    background-color: #bb9c66;
    top: 46%;

}
.dinamic-action-decor__rhomb-wrap::before{
    left: 0%;
}
.dinamic-action-decor__rhomb-wrap::after{
    right: 0%;
}
.dinamic-action-decor__rhomb-wrap p{
    font-family:'PTSans', sans-serif;
    font-size: 12px;
    font-weight: 400;
    position: absolute;
    padding: 0;
    margin: 0;
    display: block;
    white-space: nowrap;
    left: 50%;
    transform: translate(-50%, 0%);

    /* border: 1px dotted green; */
}
.dinamic-action-decor__rhomb-wrap p:first-child{
    top: -9px;
}
.dinamic-action-decor__rhomb-wrap p:last-child{
    bottom: -4px;
}
.dinamic-action-decor__current-rate{
    /* border: 1px dashed red; */
    font-family: "BravoRG";
    font-size: 50px;
    /*font-size: calc(30px + 20 * ((100vw - 320px) / (1200 - 320)));*/
    line-height: 21px;
    font-weight: 400;
    color: #1c242a;
    display: block;
    white-space: nowrap;
    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
@media screen and (max-width: 768px) {
    .dinamic-action-decor__current-rate{
        font-size: calc(30px + 20 * ((100vw - 480px) / (768 - 480)));
    }
}
@media screen and (max-width: 480px) {
    .dinamic-action-decor__current-rate{
        font-size: 50px;
    }

}
@media screen and (max-width: 320px) {
}